body{
    background:#121212; 
}

body h1{
    color:#e51e2a;
    text-align: center; 
    font-size: 45px;
    padding: 20px;
}

.coca{
    width: 200px;
}

body ul li{
    color: white;
    padding: 20px;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body img{
    padding: 20px;
    border-radius: 40px;
}
